<script lang="ts">
  import LoadFontNexus from '$lib/components/LoadFontNexus.svelte';
  import { Icons, Bi } from '$lib/index';
</script>

<LoadFontNexus />

<Bi icon={'123'} />
<Bi icon={Icons._123} />
<Bi icon='google-play' />
<Bi icon={Icons.googlePlay}/>
