<!-- Bootstrap Icons Component -->
<script lang="ts">
  import type { IconOrIconConsts } from '../Icons.js';

  export let icon: IconOrIconConsts;

  export let style = '';

  let className = '';
  export { className as class };
</script>

<i
  class="bi bi-{icon}{className ? ` ${className}` : ''}"
  {style}
  {...$$restProps}
>
  <slot />
</i>
